{
  "spaces": [
    {
      "name": "default",
      "retentionPolicy": "1d",
      "shardDuration": "1d",
      "regex": "/.*/",
      "replicationFactor": {{ influxdb_repl_factor }},
      "split": 1
    },
    {
      "name": "5m-rollups",
      "retentionPolicy": "14d",
      "shardDuration": "1d",
      "regex": "/.*\\.rollup.5m.*/",
      "replicationFactor": {{ influxdb_repl_factor }},
      "split": 1
    },
    {
      "name": "1h-rollups",
      "retentionPolicy": "365d",
      "shardDuration": "7d",
      "regex": "/.*\\.rollup.1h.*/",
      "replicationFactor": {{ influxdb_repl_factor }},
      "split": 1
    },
    {
      "name": "1d-rollups",
      "retentionPolicy": "3650d",
      "shardDuration": "30d",
      "regex": "/.*\\.rollup.1d.*/",
      "replicationFactor": {{ influxdb_repl_factor }},
      "split": 1
    }
  ],
  "continuousQueries": [
    "select countent_id, sum(value) as value from /^[a-zA-Z0-9_\\-]+$/ where content_id =~ /\\d+/ group by content_id, time(5m) into :series_name.content_id.5m",
    "select countent_id, sum(value) as value from /^[a-zA-Z0-9_\\-]+$/ where content_id =~ /\\d+/ group by content_id, time(1h) into :series_name.content_id.1h",
    "select countent_id, sum(value) as value from /^[a-zA-Z0-9_\\-]+$/ where content_id =~ /\\d+/ group by content_id, time(1d) into :series_name.content_id.1d"
  ]
}
