{
  "spaces": [
    {
      "name": "default",
      "retentionPolicy": "1d",
      "shardDuration": "1d",
      "regex": "/.*/",
      "replicationFactor": {{ influxdb_repl_factor }},
      "split": 1
    },
    {
      "name": "5m-rollups",
      "retentionPolicy": "14d",
      "shardDuration": "1d",
      "regex": "/^.*\\.5m$/",
      "replicationFactor": {{ influxdb_repl_factor }},
      "split": 1
    },
    {
      "name": "1h-rollups",
      "retentionPolicy": "365d",
      "shardDuration": "7d",
      "regex": "/^.*\\.1h$/",
      "replicationFactor": {{ influxdb_repl_factor }},
      "split": 1
    },
    {
      "name": "1d-rollups",
      "retentionPolicy": "3650d",
      "shardDuration": "30d",
      "regex": "/^.*\\.1d$/",
      "replicationFactor": {{ influxdb_repl_factor }},
      "split": 1
    }
  ],
  "continuousQueries": [
    "select content_id,sum(value) as value from /^[a-z]+$/ where (content_id =~ /^\d+$/) AND (event =~ /^pageview$/) group by content_id,time(1d) into :series_name.pageviews.content_id.1d",
    "select content_id,sum(value) as value from /^[a-z]+$/ where (content_id =~ /^\d+$/) AND (event =~ /^pageview$/) group by content_id,time(1h) into :series_name.pageviews.content_id.1h",
    "select content_id,sum(value) as value from /^[a-z]+$/ where (content_id =~ /^\d+$/) AND (event =~ /^pageview$/) group by content_id,time(5m) into :series_name.pageviews.content_id.5m",
    "select content_id,sum(value) as value from /^[a-z]+$/ where event =~ /^pageview$/ group by content_id,time(1d) into :series_name.pageviews.all.1d",
    "select content_id,sum(value) as value from /^[a-z]+$/ where event =~ /^pageview$/ group by content_id,time(1h) into :series_name.pageviews.all.1h",
    "select content_id,sum(value) as value from /^[a-z]+$/ where event =~ /^pageview$/ group by content_id,time(5m) into :series_name.pageviews.all.5m",
    "select content_id,sum(value) as value from /^[a-z]+_trending$/ where content_id =~ /^\d+$/ group by content_id,time(1d) into :series_name.pageviews.content_id.1d",
    "select content_id,sum(value) as value from /^[a-z]+_trending$/ where content_id =~ /^\d+$/ group by content_id,time(1h) into :series_name.pageviews.content_id.1h",
    "select content_id,sum(value) as value from /^[a-z]+_trending$/ where content_id =~ /^\d+$/ group by content_id,time(5m) into :series_name.pageviews.content_id.5m",
    "select content_id,sum(value) as value from /^onionstudios$/ where (content_id =~ /^\d+$/) AND (event =~ /^videoplay$/) group by content_id,time(1d) into :series_name.videoplays.content_id.1d",
    "select content_id,sum(value) as value from /^onionstudios$/ where (content_id =~ /^\d+$/) AND (event =~ /^videoplay$/) group by content_id,time(1h) into :series_name.videoplays.content_id.1h",
    "select content_id,sum(value) as value from /^onionstudios$/ where (content_id =~ /^\d+$/) AND (event =~ /^videoplay$/) group by content_id,time(5m) into :series_name.videoplays.content_id.5m",
    "select content_id,sum(value) as value from /^onionstudios$/ where event =~ /^videoplay$/ group by content_id,time(1d) into :series_name.videoplays.all.1d",
    "select content_id,sum(value) as value from /^onionstudios$/ where event =~ /^videoplay$/ group by content_id,time(1h) into :series_name.videoplays.all.1h",
    "select content_id,sum(value) as value from /^onionstudios$/ where event =~ /^videoplay$/ group by content_id,time(5m) into :series_name.videoplays.all.5m",
    "select content_id,sum(value) as value from /^onionstudios$/ where event =~ /^embedplay$/ group by content_id,time(1d) into :series_name.embedplays.all.1d",
    "select content_id,sum(value) as value from /^onionstudios$/ where event =~ /^embedplay$/ group by content_id,time(1h) into :series_name.embedplays.all.1h",
    "select content_id,sum(value) as value from /^onionstudios$/ where event =~ /^embedplay$/ group by content_id,time(5m) into :series_name.embedplays.all.5m",
    "select content_id,sum(value) as value from /^onionstudios$/ where event =~ /^embedview$/ group by content_id,time(1d) into :series_name.embedviews.all.1d",
    "select content_id,sum(value) as value from /^onionstudios$/ where event =~ /^embedview$/ group by content_id,time(1h) into :series_name.embedviews.all.1h",
    "select content_id,sum(value) as value from /^onionstudios$/ where event =~ /^embedview$/ group by content_id,time(5m) into :series_name.embedviews.all.5m",
    "select content_id,sum(value) as value from /^onionads$/ where event =~ /^impression$/ group by content_id,time(1h) into :series_name.impression.all.1h",
    "select content_id,sum(value) as value from /^onionads$/ where event =~ /^impression$/ group by content_id,time(1d) into :series_name.impression.all.1d",
    "select content_id,sum(value) as value from /^onionads$/ where event =~ /^start$/ group by content_id,time(1h) into :series_name.start.all.1h",
    "select content_id,sum(value) as value from /^onionads$/ where event =~ /^start$/ group by content_id,time(1d) into :series_name.start.all.1d",
    "select content_id,sum(value) as value from /^onionads$/ where event =~ /^firstQuartile$/ group by content_id,time(1h) into :series_name.firstQuartile.all.1h",
    "select content_id,sum(value) as value from /^onionads$/ where event =~ /^firstQuartile$/ group by content_id,time(1d) into :series_name.firstQuartile.all.1d",
    "select content_id,sum(value) as value from /^onionads$/ where event =~ /^midpoint$/ group by content_id,time(1h) into :series_name.midpoint.all.1h",
    "select content_id,sum(value) as value from /^onionads$/ where event =~ /^midpoint$/ group by content_id,time(1d) into :series_name.midpoint.all.1d",
    "select content_id,sum(value) as value from /^onionads$/ where event =~ /^thirdQuartile$/ group by content_id,time(1h) into :series_name.thirdQuartile.all.1h",
    "select content_id,sum(value) as value from /^onionads$/ where event =~ /^thirdQuartile$/ group by content_id,time(1d) into :series_name.thirdQuartile.all.1d",
    "select content_id,sum(value) as value from /^onionads$/ where event =~ /^complete$/ group by content_id,time(1h) into :series_name.complete.all.1h",
    "select content_id,sum(value) as value from /^onionads$/ where event =~ /^complete$/ group by content_id,time(1d) into :series_name.complete.all.1d"
  ]
}
