######################################################################
## global options:

User		"{{ pound_user }}"
Group		"{{ pound_group }}"

## Logging: (goes to syslog by default)
##	0	no logging
##	1	normal
##	2	extended
##	3	Apache-style (common log format)
LogLevel	1

## check backend every X secs:
Alive		30

## use hardware-accelleration card supported by openssl(1):
#SSLEngine	"<hw>"

# poundctl control socket
Control "{{ pound_run_path }}poundctl.socket"

{% if pound_listen_http %}
{% for conf in pound_listen_http %}
ListenHTTP
	Address	{{ conf.addr }}
	Port 	{{ conf.port }}

	xHTTP {{ conf.x_http|default(2) }}
	HeadRemove "X-Forwarded-Ssl"

	Service
		BackEnd
			Address	{{ conf.backend_addr }}
			Port	{{ conf.backend_port }}
		End
	End
End
{% endfor %}
{% endif %}

{% if pound_listen_https %}
{% for conf in pound_listen_https %}
ListenHTTPS
	Address	{{ conf.addr }}
	Port	{{ conf.port }}
	{% for cert in conf.certs|default([]) %}
	Cert 	"{{ pound_conf_path }}{{ cert }}"
	{% endfor %}
	
	xHTTP {{ conf.x_http|default(2) }}
	AddHeader "X-Forwarded-Ssl: on"

	Service
		BackEnd
			Address	{{ conf.backend_addr }}
			Port	{{ conf.backend_port }}
		End
	End
End
{% endfor %}
{% endif %}
