##############################
### Performance Disclaimer ###
##############################
#
# Historically the txamqp library used by carbon has
# shown to significantly increase CPU usage and to
# decrease overall throughput significantly (compared to
# plaintext or pickle receivers). This may become a non-issue
# in the future as txamqp evolves. (October 2011)

# Enable AMQP if you want to receve metrics using an amqp broker
ENABLE_AMQP = {{ carbon_amqp.get("enable_amqp", False)}}

# Verbose means a line will be logged for every metric received
# useful for testing
AMQP_VERBOSE = {{ carbon_amqp.get("amqp_verbose", False)}}

AMQP_HOST = {{ carbon_amqp.get("amqp_host", "localhost")}}
AMQP_PORT = {{ carbon_amqp.get("amqp_port", 5672)}}
AMQP_VHOST = {{ carbon_amqp.get("amqp_vhost", "/")}}
AMQP_USER = {{ carbon_amqp.get("amqp_user", "guest")}}
AMQP_PASSWORD = {{ carbon_amqp.get("amqp_password", "guest")}}
AMQP_EXCHANGE = {{ carbon_amqp.get("amqp_exchange", "graphite")}}
AMQP_METRIC_NAME_IN_BODY = {{ carbon_amqp.get("amqp_megric_name_in_body", False)}}

# Patterns for all of the metrics this machine will store. Read more at
# http://en.wikipedia.org/wiki/Advanced_Message_Queuing_Protocol#Bindings
#
# Example: store all sales, linux servers, and utilization metrics
# BIND_PATTERNS = sales.#, servers.linux.#, #.utilization
#
# Example: store everything
# BIND_PATTERNS = 
{% if "bind_patterns" in carbon_amqp %}
BIND_PATTERNS = {{ carbon_amqp.get("bind_patterns")}}
{% endif %}