server {
    listen 80;
    {% if betty_server_name %}server_name {{betty_server_name}};{% endif %}

    root {{ betty_image_root }};
    client_max_body_size 10M;

    location @betty {
        include uwsgi_params;
        uwsgi_pass 127.0.0.1:9069;
    }

    location / {
        alias {{ betty_image_root }};
        try_files $uri @betty;
    }
}