DATABASE = "{{ betty_database }}"
IMAGE_ROOT = "{{ betty_image_root }}"
PUBLIC_URL = "{{ betty_public_url }}"
RATIOS = ({% for ratio in betty_ratios %}"{{ ratio }}",{% endfor %})
WIDTHS = ({% for width in betty_widths %}"{{ width }}",{% endfor %})
{% if betty_api_key %}API_KEY = "{{ bety_api_key }}"{% endif %}
PLACEHOLDER = {{ betty_placeholder }}
PLACEHOLDER_FONT = "{{ betty_placeholder_font }}"
{% if betty_sentry_dsn %}SENTRY_DSN = "{{ betty_sentry_dsn }}"{% endif %}