#!/bin/sh

source /var/venvs/influx-trending/bin/activate

for APP in {{ apps }};
do
    python percentile.py "{{ host }}" "{{ port }}" "{{ username }}" "{{ password }}" "{{ db }}" "$APP.rollup.1h.percentile.99" "$APP.rollup.1h" "$APP.rollup.1h.trending.99" "{{ hourly_offset }}";
done

deactivate

exit 0
